@section Scripts {
    @Scripts.Render("~/bundles/app")
}


<div class="row" id="foods">
    <h1>Foods</h1>
    <div class="form-group error-messages" data-bind="foreach: foods">
        <div class="form-group">
            <label data-bind="text: $data"></label>
            <div class="form-group">
                <button class="btn btn-default" data-bind="click: $parent.addFoods">Add To Cart</button>
            </div>
        </div>
    </div>
    <div class="form-group error-messages" data-bind="foreach: selectedFoods">
        <label data-bind="text: $data"></label>
    </div>
</div>

