HotelReservationAPI/bin/
HotelReservationAPI/obj/
packages/
*.suo
.vs/
RRSys/obj/
RRSys/bin/
RRSys.Tests/bin/
RRSys.Tests/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
RRSys.Tests/obj/Debug/RRSys.Tests.csproj.FileListAbsolute.txt
RRSys.Tests/obj/Debug/RRSys.Tests.csprojResolveAssemblyReference.cache
RRSys.Tests/obj/Debug/RRSys.Tests.dll
RRSys.Tests/obj/
*.user
